@model FoodProject.Models.Food
@{
    ViewData["Title"] = "FoodUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("FoodUpdate", "Food", FormMethod.Post))
{
    @Html.HiddenFor(x => x.FoodID)
    @Html.Label("Yiyecek Adı")
    @Html.TextBoxFor(x => x.FoodName, "", new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Price, "", new { @class = "form-control" })
    <br />
    @Html.Label("Stok")
    @Html.TextBoxFor(x => x.Stock, "", new { @class = "form-control" })
    <br />
    @Html.Label("Resim URL")
    @Html.TextBoxFor(x => x.ImageURL, "", new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")  
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
   @Html.TextAreaFor(x=> x.Description,new {@class="form-control" })
    <br />

    <button class="btn btn-success btn-sm">Kaydet </button>



}

