@model List<FoodProject.Models.Category>

@{
    ViewData["Title"] = "CategoryPassive";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pasif Kategoriler</h1>

<table class="table table-bordered">
    <thead style="background-color:#e37b7b; color:black;">
        <tr>

            <th>  ID </th>
            <th> Kategori Adı </th>
            <th> Durumu </th>
            <th> Kategori Açıklama </th>

            <th> DURUMU</th>
            
        </tr>
    </thead>
    @foreach (var item in Model.Where(x=> x.Status==false))
    {
        <tr>
            <td>@item.CategoryID </td>
            <td>@item.CategoryName </td>
            <td>

                @{
                    string durum = "";
                    string renk = "";
                    if (item.Status == true)
                    {
                        durum = "Aktif";
                        renk = "text-success";

                    }
                    else
                    {

                        durum = "Pasif";
                        renk = "text-danger";
                    }


                }

                <p class="@renk">@durum</p>
            </td>

            <td>@item.CategoryDescription </td>

            <td>
                <a class="@(item.Status==true?"btn btn-danger btn-sm":"btn btn-success btn-sm")" href="/Category/CategoryPassive2/@item.CategoryID">
                    <i class="fa-solid fa-check-double"></i>
                    @(item.Status==true?"Pasif Yap":"Aktif Yap")
                </a>
            </td>

        </tr>

    }


</table>
<a href="/Category/Index/"class="btn btn-warning">Listeye Geri Dön</a>




